$white: #ffffff;
$black: #000000;

$color-gray-50: #f2f2f2;
$color-gray-100: #e6e6e6;
$color-gray-200: #cccccc;
$color-gray-300: #b3b3b3;
$color-gray-400: #999999;
$color-gray-420: #949494;
$color-gray-500: #7f7f7f;
$color-gray-536: #767676;
$color-gray-600: #666666;
$color-gray-700: #4d4d4d;
$color-gray-800: #333333;
$color-gray-900: #1a1a1a;

$color-blue-50: #e8f1fe;
$color-blue-100: #d9e6ff;
$color-blue-200: #c5d7fb;
$color-blue-300: #9db7f9;
$color-blue-400: #7096f8;
$color-blue-500: #4979f5;
$color-blue-600: #3460fb;
$color-blue-700: #264af4;
$color-blue-800: #0031d8;
$color-blue-900: #0017c1;
$color-blue-1000: #00118f;
$color-blue-1100: #000071;
$color-blue-1200: #000060;

$color-light-blue-50: #f0f9ff;
$color-light-blue-100: #dcf0ff;
$color-light-blue-200: #c0e4ff;
$color-light-blue-300: #97d3ff;
$color-light-blue-400: #57b8ff;
$color-light-blue-500: #39abff;
$color-light-blue-600: #008bf2;
$color-light-blue-700: #0877d7;
$color-light-blue-800: #0066be;
$color-light-blue-900: #0055ad;
$color-light-blue-1000: #00428c;
$color-light-blue-1100: #00316a;
$color-light-blue-1200: #00234b;

$color-cyan-50: #e6fcff;
$color-cyan-100: #c8f8ff;
$color-cyan-200: #99f2ff;
$color-cyan-300: #79e2f2;
$color-cyan-400: #2bc8e4;
$color-cyan-500: #01b7d6;
$color-cyan-600: #00a3bf;
$color-cyan-700: #008da6;
$color-cyan-800: #008299;
$color-cyan-900: #006f83;
$color-cyan-1000: #006173;
$color-cyan-1100: #004c59;
$color-cyan-1200: #003741;

$color-green-50: #e6f5ec;
$color-green-100: #c2e5d1;
$color-green-200: #9bd4b5;
$color-green-300: #71c598;
$color-green-400: #51b883;
$color-green-500: #2cac6e;
$color-green-600: #259d63;
$color-green-700: #1d8b56;
$color-green-800: #197a4b;
$color-green-900: #115a36;
$color-green-1000: #0c472a;
$color-green-1100: #08351f;
$color-green-1200: #032213;

$color-lime-50: #ebfad9;
$color-lime-100: #d0f5a2;
$color-lime-200: #c0f354;
$color-lime-300: #ade830;
$color-lime-400: #9ddd15;
$color-lime-500: #8cc80c;
$color-lime-600: #7eb40d;
$color-lime-700: #6fa104;
$color-lime-800: #618e00;
$color-lime-900: #507500;
$color-lime-1000: #3e5a00;
$color-lime-1100: #2c4100;
$color-lime-1200: #1e2d00;

$color-yellow-50: #fbf5e0;
$color-yellow-100: #fff0b3;
$color-yellow-200: #ffe380;
$color-yellow-300: #ffd43d;
$color-yellow-400: #ffc700;
$color-yellow-500: #ebb700;
$color-yellow-600: #d2a400;
$color-yellow-700: #b78f00;
$color-yellow-800: #a58000;
$color-yellow-900: #927200;
$color-yellow-1000: #806300;
$color-yellow-1100: #6e5600;
$color-yellow-1200: #604b00;

$color-orange-50: #ffeee2;
$color-orange-100: #ffdfca;
$color-orange-200: #ffc199;
$color-orange-300: #ffa66d;
$color-orange-400: #ff8d44;
$color-orange-500: #ff7628;
$color-orange-600: #fb5b01;
$color-orange-700: #e25100;
$color-orange-800: #c74700;
$color-orange-900: #ac3e00;
$color-orange-1000: #8b3200;
$color-orange-1100: #6d2700;
$color-orange-1200: #541e00;

$color-red-50: #fdeeee;
$color-red-100: #ffdada;
$color-red-200: #ffbbbb;
$color-red-300: #ff9696;
$color-red-400: #ff7171;
$color-red-500: #ff5454;
$color-red-600: #fe3939;
$color-red-700: #fa0000;
$color-red-800: #ec0000;
$color-red-900: #ce0000;
$color-red-1000: #a90000;
$color-red-1100: #850000;
$color-red-1200: #620000;

$color-magenta-50: #f3e5f4;
$color-magenta-100: #ffccdf;
$color-magenta-200: #ffaeff;
$color-magenta-300: #ff8eff;
$color-magenta-400: #f661f6;
$color-magenta-500: #f137f1;
$color-magenta-600: #db00db;
$color-magenta-700: #c000c0;
$color-magenta-800: #aa00aa;
$color-magenta-900: #8b008b;
$color-magenta-1000: #6c006c;
$color-magenta-1100: #500050;
$color-magenta-1200: #3b003b;

$color-purple-50: #f1eafa;
$color-purple-100: #ecddff;
$color-purple-200: #ddc2ff;
$color-purple-300: #cda6ff;
$color-purple-400: #bb87ff;
$color-purple-500: #a565f8;
$color-purple-600: #8843e1;
$color-purple-700: #6f23d0;
$color-purple-800: #5c10be;
$color-purple-900: #5109ad;
$color-purple-1000: #41048e;
$color-purple-1100: #30016c;
$color-purple-1200: #21004b;

// color-scheme

$color-sea-200: #9db7f9;
$color-sea-300: #7096f8;
$color-sea-800: #0017c1;
$color-sea-900: #000082;

$color-sumi-400: #b4b4b7;
$color-sumi-500: #949497;
$color-sumi-600: #757578;
$color-sumi-700: #626264;
$color-sumi-900: #1a1a1a;

$color-sun-300: #ff7b5c;
$color-sun-800: #ec0000;

$color-schemes: (
  "light": (
    "body": $color-sumi-900,
    "description": $color-sumi-700,
    "placeholder": $color-sumi-600,
    "on-fill": $white,
    "link": $color-sea-800,
    "hover": $color-sea-900,
    "active": $color-sea-900,
    "visited": $color-sea-900,
    "alert": $color-sun-800,
    "disabled": $color-sumi-500,
  ),
  "dark": (
    "body": $white,
    "description": $color-sumi-400,
    "placeholder": $color-sumi-500,
    "on-fill": $white,
    "link": $color-sea-300,
    "hover": $color-sea-200,
    "active": $color-sea-200,
    "visited": $color-sea-200,
    "alert": $color-sun-300,
    "disabled": $color-sumi-600,
  ),
);

$colors: (
  "white": $white,
  "black": $black,
  "gray-50": $color-gray-50,
  "gray-100": $color-gray-100,
  "gray-200": $color-gray-200,
  "gray-300": $color-gray-300,
  "gray-400": $color-gray-400,
  "gray-420": $color-gray-420,
  "gray-500": $color-gray-500,
  "gray-536": $color-gray-536,
  "gray-600": $color-gray-600,
  "gray-700": $color-gray-700,
  "gray-800": $color-gray-800,
  "gray-900": $color-gray-900,

  "blue-50": $color-blue-50,
  "blue-100": $color-blue-100,
  "blue-200": $color-blue-200,
  "blue-300": $color-blue-300,
  "blue-400": $color-blue-400,
  "blue-500": $color-blue-500,
  "blue-600": $color-blue-600,
  "blue-700": $color-blue-700,
  "blue-800": $color-blue-800,
  "blue-900": $color-blue-900,
  "blue-1000": $color-blue-1000,
  "blue-1100": $color-blue-1100,
  "blue-1200": $color-blue-1200,

  "yellow-700": $color-yellow-700,
) !default;
