$font-size-xxl: "57px";
$font-size-xl: "45px";
$font-size-l: "36px";
$font-size-l-m: "32px";
$font-size-m: "32px";
$font-size-m-m: "28px";
$font-size-s: "28px";
$font-size-s-m: "24px";
$font-size-xs: "24px";
$font-size-xs-m: "20px";
$font-size-xxs: "20px";
$font-size-xxs-m: "16px";

@mixin font-size-xxl {
  font-size: "57px";
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.04em;
}

@mixin font-size-xl {
  font-size: "45px";
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.04em;
}

@mixin font-size-l {
  font-size: "36px";
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.04em;
}

@mixin font-size-l-m {
  font-size: "32px";
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.04em;
}

@mixin font-size-m {
  font-size: "32px";
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@mixin font-size-m-m {
  font-size: "28px";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@mixin font-size-s {
  font-size: "28px";
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@mixin font-size-s-m {
  font-size: "24px";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@mixin font-size-xs {
  font-size: "24px";
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@mixin font-size-xs-m {
  font-size: "20px";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@mixin font-size-xxs {
  font-size: "20px";
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@mixin font-size-xxs-m {
  font-size: "16px";
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

.dads-h1 {
  @include font-size-l();
  @media (max-width: 768px) {
    @include font-size-l-m();
  }
}

.dads-h2 {
  @include font-size-m();
  @media (max-width: 768px) {
    @include font-size-m-m();
  }
}

.dads-h3 {
  @include font-size-s();
  @media (max-width: 768px) {
    @include font-size-s-m();
  }
}

.dads-h4 {
  @include font-size-xs();
  @media (max-width: 768px) {
    @include font-size-xs-m();
  }
}

.dads-h5 {
  @include font-size-xxs();
  @media (max-width: 768px) {
    @include font-size-xxs-m();
  }
}

.dads-body-l,
.dads-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

.dads-body-m {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

.dads-label-l,
.dads-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.dads-label-m {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.dads-caption-l,
.dads-caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

.dads-caption-m {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

@mixin dads-button-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.dads-button-text {
  @include dads-button-text();
}
