@import "variables/colorPallet";
.btn {
  box-sizing: border-box;
  display: inline-block;
  min-width: 96px;
  height: 48px;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  border-width: 1px;
  border-color: transparent;
  background-color: $color-gray-420;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;

  &.--primary {
    background-color: $color-blue-900;
    color: $white;
    border-color: $color-blue-900;
  }
  &.--secondary {
    background-color: $white;
    color: $color-blue-900;
    border-color: $color-blue-900;
  }
}
